name: 2017 Rust Test

on:
  push:
    paths:
      - .github/**
      - 2017/rust/**

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: make test
        working-directory: 2017/rust
