name: 2021 Python Test

on:
  push:
    paths:
      - .github/**
      - 2021/python/**

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: make test
        working-directory: 2021/python
