name: 2021 C Test

on:
  push:
    paths:
      - .github/**
      - 2021/c/**

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: make test
        working-directory: 2021/c
  benchmark:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: make build
        working-directory: 2021/c
