name: 2025 Santa-Lang Test

on:
  push:
    paths:
      - .github/**
      - 2025/santa-lang/**

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: make test
        working-directory: 2025/santa-lang
